@page
@model blog.Web.Pages.Post.CreatePostModel
@{
    ViewData["Title"] = "CreatePost";
    Layout = "_MyLayout";
    var categories = Model.ListCategory;
}

@section style
{
    <abp-style src="/css/createpost.css" />
}
<div class="container-fluid" style="        background-color: white;
        position: relative;
        margin-top: 8%;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 15%;
">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>Create post</h1>
            <br />
            <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="title">Title <span class="require">*</span></label>
                    <input type="text" class="form-control" id="title" asp-for="@Model.postDto.Title" />
                </div>

                <div class="form-group">
                    <label for="author">Author <span class="require">*</span></label>
                    <input type="text" class="form-control" id="author" asp-for="@Model.postDto.Author" />
                </div>

                <div class="form-group">
                    <label for="cate">Category <span class="require">*</span></label>
                    <select type="text" class="form-control" id="cate" asp-for="@Model.postDto.CategoryId">
                        @for (int i = 0; i < categories.Count; i++)
                        {
                            <option value="@categories[i].Id">@categories[i].Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" asp-for="@Model.postDto.Description" />
                </div>

                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea rows="5" class="form-control" id="content" asp-for="@Model.postDto.Content"></textarea>
                </div>

                <div class="form-group">
                    <label for="photo">Photo</label>
                    <input type="file" asp-for="@Model.postDto.PhotoFile" multiple />
                </div>

                <div class="form-group">
                    <p><span class="require">*</span> - required fields</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                    @if (Model.flag)
                    {
                        <span class="text-success">Create Successfully!</span>
                    }
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>
